{
  "local": {
    "PORT":"3333",
    "ENVIRONMENT":"local",
    "BLUEPRINT_API_URL":"http://localhost:5100/v2/partner-api",
    "BLUEPRINT_API_KEY":"your_api_key",
    "BLUEPRINT_API_CLIENT_ID":"your_client_id",
    "BLUEPRINT_API_CLIENT_SECRET":"your_client_secret",
    "BLUEPRINT_WIDGET_URL":"http://localhost:4000/index.min.js",
    "BLUEPRINT_IFRAME_URL":"http://localhost:3000/widget",
    "EHR_CLINICIAN_EMAIL":"provider@example.com",
    "EHR_CLINICIAN_PASSWORD":"password",
    "BLUEPRINT_CLINICIAN_ID":"your_blueprint_clinician_id"
  },
  "staging": {
    "PORT":"3333",
    "ENVIRONMENT":"staging",
    "BLUEPRINT_API_URL":"https://api.staging.blueprint.ai/v2",
    "BLUEPRINT_API_KEY":"your_api_key",
    "BLUEPRINT_API_CLIENT_ID":"your_client_id",
    "BLUEPRINT_API_CLIENT_SECRET":"your_client_secret",
    "BLUEPRINT_WIDGET_URL":"https://embed.staging.blueprint.ai/index.min.js",
    "BLUEPRINT_IFRAME_URL":"https://clinician.staging.blueprint.ai/widget",
    "EHR_CLINICIAN_EMAIL":"provider@example.com",
    "EHR_CLINICIAN_PASSWORD":"password",
    "BLUEPRINT_CLINICIAN_ID":"your_blueprint_clinician_id"
  },
  "production": {
    "PORT":"3333",
    "ENVIRONMENT":"production",
    "BLUEPRINT_API_URL":"https://api.blueprint.ai/v2",
    "BLUEPRINT_API_KEY":"your_api_key",
    "BLUEPRINT_API_CLIENT_ID":"your_client_id",
    "BLUEPRINT_API_CLIENT_SECRET":"your_client_secret",
    "BLUEPRINT_WIDGET_URL":"https://embed.blueprint.ai/index.min.js",
    "BLUEPRINT_IFRAME_URL":"https://clinician.blueprint.ai/widget",
    "EHR_CLINICIAN_EMAIL":"provider@example.com",
    "EHR_CLINICIAN_PASSWORD":"password",
    "BLUEPRINT_CLINICIAN_ID":"your_blueprint_clinician_id"
  }
}